.tooltip .tooltip-text {
    visibility: hidden;
    /* width: 120px; */
    background-color: #555;
    color: #fff;
    position: relative;
    top: 30px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    z-index: 1;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
    content: "";
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
